#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.bar {
  fill: #33adff;
  transition: fill 0.3s;
}

.bar:hover {
  fill: #003366;
}
